// bower:scss
// endbower

body {
  background: #e6e9ee;
  font-family: "proxima-nova", helvetica, arial, sans-serif;
}

h1 {
  font-family: "lexia-advertising", helvetica, arial, sans-serif;
  font-size: 2.75em;
  font-size: 2.75rem;
}

h2 {
  color:  #161616;
  font-weight: 300;
  font-size: 1.714rem;
}

header {
  background: url('/images/mpg-banner.jpg') no-repeat 0 0 #333;
}
